.divimg {
    position: relative;
}
  
.divimg img {
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
}

.divimg > .img2{
    right: 0;
}

.divimg:hover > .img1 {
    transform: translateX(450%);
    /* transform: rotate(360deg);*/
}

.divimg:hover > .img2 {
    transform: translateX(-720%);
    /* transform: rotate(360deg);*/
}
  