.uno {
    width: 150px;
    height: 150px;
    background-color: red;
    animation-name: uno;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
@keyframes uno {
    0%   {background-color: red;}
    100% {background-color: blue; border-radius: 80px;}
}
.dos {
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    position: relative;
    animation: dos 7s;
    animation-iteration-count: infinite;
}
@keyframes dos {
    0%   {left:0px; top:0px;}
    10%  {left:0px; top:300px;}
    20%  {left:300px; top:300px;}
    30%  {left:300px; top:0px;}
    40% {left:0px; top:0px;}
    50%  {left:300px; top:0px;}
    60%  {left:300px; top:300px;}
    70%  {left:0px; top:300px;}
    80% {left:0px; top:0px;}
}

.tres1 {
    width: 80px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: tres 5s infinite;
    animation-timing-function: linear;
}
.tres2 {
    width: 80px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: tres 5s infinite;
    animation-timing-function: ease;
}
.tres3 {
    width: 80px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: tres 5s infinite;
    animation-timing-function: ease-in;
}
.tres4 {
    width: 80px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: tres 5s infinite;
    animation-timing-function: ease-out;
}
.tres5 {
    width: 80px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: tres 5s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes tres {
    0% {left: 0px;}
    30% {left: 300px;}
    40% {left: 300px;}
    60% {left: 300px;}
    80% {left: 0px;}
}

.fondo {
    position: relative;
    display:block;
    background-image: url('mapa.jpeg') !important;
    background-size: cover; 
    width: 1320px;
    height: 200px;
}
.avion img {
    position: relative;
    animation: avion 10s infinite linear;
    width: 30px;
}
@keyframes avion {
    0% {
      margin-left: 50px;
      margin-top: 100px;
    }
    50% {
        margin-left: 400px;
        margin-top: 40px;
        width: 60px;
        transform: rotate(-10deg);
    }
    100% {
      margin-left: 850px;
      margin-top: 90px;
      transform: rotate(20deg);
    }
}

.marco {
    position: relative;
    animation: autobus 8s infinite;
    width: 300px;
}
@keyframes autobus {
    from { transform: translateX(0px); }
    to { transform: translateX(1000px); }
}
.rueda1 {
    position: absolute;
    z-index: 1;
    animation: ruedas 0.10s infinite;
    margin-top: 60px;
    width: 30px;
    left: 220px;
}
.rueda2 {
    position: absolute;
    z-index: 1;
    animation: ruedas 0.10s infinite;
    margin-top: 60px;
    width: 30px;
    left: 65px;
}

@keyframes ruedas {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}