.naranja {
    color: orange;
}

h1 {
    margin: 40pt;
    display: inline;
}

h2 {
    margin: 40pt;
    display: inline;
}

h3 {
    margin: 40pt;
    display: inline;
}

h4 {
    margin: 40pt;
    display: inline;
}

h5 {
    margin: 85pt;
    display: inline;
}

h6 {
    margin: 25pt;
    display: inline;
}
