
body{
    font-size: 14pt;
}

.menys{
    font-size: 75em;
}

.mes{
    font-size: 125em;
}

.un{
    font-size: 10pt;
}

.dos{
    font-size: 0.33mm;
}

.tres{
    font-size: 0.53cm;
}

.quatre{
    font-size: 12pt;
}

.cinc{
    font-size: 1px;
}

.sis{
    font-size: 4.23mm;
}

.set{
    font-size: 1in;
}

.vuit{
    font-size: 2.54cm;
}

div{
    font-size: 100%;
}

 
 
 
