#c1{
    width: 300px;
    background-color: orange;
    margin: 0px;
}

#c2{
    width: 300px;
    background-color: red;
    padding: 50px;
}


#c3{
    width: 400px;
    background-color: rgb(228, 243, 255);
}